/* Paleta usada :
#59143A (Roxo do header)
#F2994B (amarelo da letra do header)
#EB6427 (Laranja)
#F0DDA6 (Dourado)
#EB214E (Rosa)
#9ED99E (Verde)
#F5F5DC (Bege claro)
*/

.header {
  background-color: #59143A;
  height: 90px;
  width: 100%;
  font-family: 'Brush Script MT', cursive;
  z-index: 1000;
  padding: 0% 10%;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
}

.navbar-brand {
  width: 100px;
}

.header button{
  width: fit-content;
  margin: 0;
}

.button-toggle .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=UTF8,%3csvg xmlns%3d%27http%3a//www.w3.org/2000/svg%27 viewBox%3d%270 0 30 30%27%3e%3cpath stroke%3d%27%23ffffff%27 stroke-width%3d%272%27 stroke-linecap%3d%27round%27 stroke-miterlimit%3d%2710%27 d%3d%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e') !important; /* Ícone branco */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.navbar-nav {
  flex-grow: 1;
  justify-content: center;
  gap: 50px;
}

.nav-link {
  color: #F2994B !important;
  border: 0px;
  border-radius: 0px;
}

.nav-link:hover {
  color: #F2994B !important;
  transform: scale(1.19);
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 2px;
}

.ghost-div {
  width: 100px;
}

@media (max-width: 992px) {
  .ghost-div {
    display: none;
  }
}

.sidebar {
  height: 100% !important;
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #59143A;
  overflow-x: hidden;
  transition: 0.3s;
}

.sidebar.open {
  width: 250px;
  /* Width of the sidebar */
  z-index: 1001;
  display: block;
}

.sidebar .flex-column {
  position: absolute;
  top: 60px;
  left: 10px;
}

.sidebar .close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 40px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.sidebar .nav-link {
  color: white !important;
  text-align: left;
}

.sidebar .nav-link:hover {
  color: white !important;
}