.footer {
    background-color: #59143A;
    color: white;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.footer-logo {
    width: 100px;
    align-items: center;
}

.footer-center {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-icon {
    color: white;
    font-size: 1.5em;
    transition: color 0.3s;
}

.footer-icon:hover {
    color: #F2994B; /* Amarelo */

}

.footer-right{
    font-size: 1em;
    display: flex;
    align-items: center;
}

.kd-name{
    color: black;
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'Andale Mono', monospace;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-left, .footer-right {
        display: none;
    }

    .footer-center {
        gap: 10px;
    }
}
