.sobre {
    width: 100%;
    height: 500px;
    display: flex;
}

.fundo-cor {
    background-color: #EB214E;
    height: 500px;
    width: 50%;
    overflow: hidden;
}

.fundo-foto {
    width: 50%;
    height: 500px;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),url('./assets/imagens/batata.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}


@media (max-width: 600px) {
    .fundo-cor {
        display: none;
    }
    
    .fundo-foto {
        width: 100%;
    }
}

.conteiner-sobre-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.sobre-title {
    color: #EAAB51;
    display: flex;
    font-size: 3em;
    justify-content: center;
}

.conteiner-sobre-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin: 10%;
}

.sobre-subtitle{
    color: #EAAB51;
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.p-sobre {
    color: white;
    width: 100%;
    font-weight: bold;
}

