.contato{
  
  height: 100vh;
  /* Altura da viewport */
  width: 70vw;
  /* Largura da viewport */
}
#localizer1{
  height: 100vh;
  /* Altura da viewport */
  width: 70vw;
  /* Largura da viewport */
  position: relative;
  padding: 0px 0px 0px 0px;
  
  top: 70px;
  /* Move o elemento 20px para baixo */
  left: 80px;
}
#localizer2{
  position: relative;
  padding: 0px 0px 0px 0px;
  top: 70px;
  /* Move o elemento 20px para baixo */
  left: 30px;
  height: 100vh;
  /* Altura da viewport */
  width: 30vw;
  /* Largura da viewport */
}
.ctt{
  display: flex;
  background-image: url('./assets/imagens/paes2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  /* Altura da viewport */
  width: 100vw;
  /* Largura da viewport */
  
}
.dados_local{
  height: 100vh;
  /* Altura da viewport */
  width: 30vw;
  /* Largura da viewport */
  
}
.p_form{
  color: white;
}
.titulo_contato{
  color: white;
}
input{
  background-color: transparent;
  color: #9ED99E;
}
textarea{
  background-color: transparent;
  width: 500px;
  height: 200px;
  color: #9ED99E;
}
