/* Paleta usada :
#59143A (Roxo do header)
#F2994B (amarelo da letra do header)
#EB6427 (Laranja)
#F0DDA6 (Dourado)
#EB214E (Rosa)
#9ED99E (Verde)
#F5F5DC (Bege claro)
*/

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

/* Animação */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}