/* Paleta usada : 
#EB6427 (Laranja)
#F0DDA6 (Dourado)
#EB214E (Rosa)
#9ED99E (Verde)
#F5F5DC (Bege claro)
*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #333;
}


.container {
  padding: 15px 0 0 0;
  background-color: #fff;
}

/*Aqui começa a parte do header da página*/

.cabecalho{
  height: 93px;
  
}

header {
  background-color: #fff;
  color: #fff;
  width: 100%;
  position: fixed; /* Fixa o header no topo */
  opacity: 1; /* Opacidade inicial */
  transition: opacity 0.3s ease; /* Transição suave para a opacidade */
  z-index: 1000;
}

header.scrolled {
  opacity: 0.4;
}

header .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.apresentacao{
  display: flex;
  align-items: center;
  align-content: center;
  color: #333;
  gap: 20px;
}

.name-university{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-university h2,
.name-university p{
  width: 100%;
  margin: 0;
}

.botoes-pagina{
  display: flex;
  justify-content: center;
}

.botoes-pagina button{
  color: #333;
  border: 0px;
  border-radius: 0px;
}

.botoes-pagina button:hover{
  color: #EB214E;
  transform: scale(1.19);
  text-decoration: underline;
  text-decoration-color: #EB214E;
  text-decoration-thickness: 5px;
}

/*Aqui começa a parte do conteúdo principal da página*/
.home {
  background-image: url('../src/assets/b1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Altura da viewport */
  width: 100vw;  /* Largura da viewport */
  overflow: hidden;
}
.intro {
  position: relative;
  top: 190px; /* Move o elemento 20px para baixo */
  left: 191px; /* Move o elemento 30px para a direita */
  width: 500px;
}

.p_intro{
  color: #F0DDA6 ;
}
.h_intro{
  color: #EB6427;
}


.seta {
  position: relative;
  top: 200px;
  left: 600px;
  padding: 0px 0px;
  border: none;
  cursor: pointer;
  width: 129px;
  height: 129px;
}


/* Animação */
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
.p_intro, .h_intro, .seta {
animation: fadeInUp 1s ease forwards;
}