.box-produto{
    padding: 10px 10px;
    margin: 10px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.produto-infos{
    width: 60%;
}

.produto-imagem{
    width: 40%;
}

.descricao-produto{
    display: block; 
    word-wrap: break-word; 
    white-space: normal;
    height: 70px;
    overflow-y: auto;
}


.produto-imagem img{
    border-radius: 20px;
    width: 100%;
}

.box-produto:hover{
    transform: scale(1.05);
}
